---
# Define hacluster user password for webUI
#
# Generate new password. Replace haclusteradmin with your own password.
# echo -n "haclusteradmin" | sha512sum
pacemaker_hacluster_password: replaceme
